<a href="https://colab.research.google.com/github/2303a51043/Batch1_PFDS_1043/blob/main/LAB_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Products dataset
p = pd.DataFrame({
    'pid': [1, 2, 3, 4],
    'pname': ['Laptop', 'Phone', 'Tablet', 'Charger'],
    'cat': ['Electronics', 'Electronics', 'Electronics', 'Accessories'],
    'pr': [60000, 30000, 20000, 1500]
})

# Sales dataset
s = pd.DataFrame({
    'sid': [101, 102, 103, 104, 105],
    'pid': [1, 2, 3, 1, 4],
    'qty': [2, 3, 1, 1, 5]
})

print("=== Products ===")
print(p)
print("\n=== Sales ===")
print(s)

# Inner join
m1 = pd.merge(s, p, on='pid', how='inner')
print("\n=== Inner Join ===")
print(m1)

# Outer join
m2 = pd.merge(s, p, on='pid', how='outer')
print("\n=== Outer Join ===")
print(m2)

# Stats
rev = (m1['pr'] * m1['qty']).sum()
avg = p['pr'].mean()
ps = m1.groupby('pname')['qty'].sum()
cs = m1.groupby('cat')['qty'].sum()

print("\nTotal Revenue:", rev)
print("Average Price:", avg)
print("\nProduct Sales:\n", ps)
print("\nCategory Sales:\n", cs)
print("Best Category:", cs.idxmax())

=== Products ===
   pid    pname          cat     pr
0    1   Laptop  Electronics  60000
1    2    Phone  Electronics  30000
2    3   Tablet  Electronics  20000
3    4  Charger  Accessories   1500

=== Sales ===
   sid  pid  qty
0  101    1    2
1  102    2    3
2  103    3    1
3  104    1    1
4  105    4    5

=== Inner Join ===
   sid  pid  qty    pname          cat     pr
0  101    1    2   Laptop  Electronics  60000
1  102    2    3    Phone  Electronics  30000
2  103    3    1   Tablet  Electronics  20000
3  104    1    1   Laptop  Electronics  60000
4  105    4    5  Charger  Accessories   1500

=== Outer Join ===
   sid  pid  qty    pname          cat     pr
0  101    1    2   Laptop  Electronics  60000
1  104    1    1   Laptop  Electronics  60000
2  102    2    3    Phone  Electronics  30000
3  103    3    1   Tablet  Electronics  20000
4  105    4    5  Charger  Accessories   1500

Total Revenue: 297500
Average Price: 27875.0

Product Sales:
 pname
Charger    5
Laptop     3
Phone      3
Tablet     1
Name: qty, dtype: int64

Category Sales:
 cat
Accessories    5
Electronics    7
Name: qty, dtype: int64
Best Category: Electronics

In [2]:
import pandas as pd

t = pd.DataFrame({
    'tid': [1, 2, 3],
    'tname': ['Alice', 'Bob', 'Charlie'],
    'dept': ['CSE', 'ECE', 'CSE']
})

c = pd.DataFrame({
    'cid': [101, 102, 103, 104],
    'cname': ['Python', 'Networks', 'AI', 'ML'],
    'tid': [1, 2, 1, 3]
})

print("=== Teachers ===")
print(t)
print("\n=== Courses ===")
print(c)

m1 = pd.merge(c, t, on='tid', how='inner')
print("\n=== Inner Join ===")
print(m1)

m2 = pd.merge(c, t, on='tid', how='left')
print("\n=== Left Join ===")
print(m2)

avg = m1.groupby('tid')['cid'].count().mean()
wl = m1.groupby('dept')['cid'].count()

print("\nAvg Courses per Teacher:", avg)
print("\nDept Workload:\n", wl)
print("Most Loaded Dept:", wl.idxmax())

=== Teachers ===
   tid    tname dept
0    1    Alice  CSE
1    2      Bob  ECE
2    3  Charlie  CSE

=== Courses ===
   cid     cname  tid
0  101    Python    1
1  102  Networks    2
2  103        AI    1
3  104        ML    3

=== Inner Join ===
   cid     cname  tid    tname dept
0  101    Python    1    Alice  CSE
1  102  Networks    2      Bob  ECE
2  103        AI    1    Alice  CSE
3  104        ML    3  Charlie  CSE

=== Left Join ===
   cid     cname  tid    tname dept
0  101    Python    1    Alice  CSE
1  102  Networks    2      Bob  ECE
2  103        AI    1    Alice  CSE
3  104        ML    3  Charlie  CSE

Avg Courses per Teacher: 1.3333333333333333

Dept Workload:
 dept
CSE    3
ECE    1
Name: cid, dtype: int64
Most Loaded Dept: CSE